/*

    Name:       Base16 Default Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-dark.CodeMirror { color: #e0e0e0; }
.cm-s-dark div.CodeMirror-selected { background: #303030; }
.cm-s-dark .CodeMirror-line::selection, .cm-s-dark .CodeMirror-line > span::selection, .cm-s-dark .CodeMirror-line > span > span::selection { background: rgba(48, 48, 48, .99); }
.cm-s-dark .CodeMirror-line::-moz-selection, .cm-s-dark .CodeMirror-line > span::-moz-selection, .cm-s-dark .CodeMirror-line > span > span::-moz-selection { background: rgba(48, 48, 48, .99); }
.cm-s-dark .CodeMirror-gutters { background: #222; border-right: 0px; }
.cm-s-dark .CodeMirror-guttermarker { color: #ac4142; }
.cm-s-dark .CodeMirror-guttermarker-subtle { color: #505050; }
.cm-s-dark .CodeMirror-linenumber { color: #505050; }

.cm-s-dark .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: var(--tonic-accent);
  z-index: 1;
}

.cm-s-dark span.cm-comment { color: #aaa; }
.cm-s-dark span.cm-atom { color: #888; }
.cm-s-dark span.cm-number { color: #888; }

.cm-s-dark span.cm-property, .cm-s-dark span.cm-attribute { color: #888; }
.cm-s-dark span.cm-keyword { color: #666; }
.cm-s-dark span.cm-string { color: #888; }

.cm-s-dark span.cm-variable { color: #fff; }
.cm-s-dark span.cm-def { color: #aaa; }
.cm-s-dark span.cm-bracket { color: var(--tonic-accent); }
.cm-s-dark span.cm-tag { color: var(--tonic-accent); }
.cm-s-dark span.cm-link { color: #aa759f; }
.cm-s-dark span.cm-error { background: var(--tonic-danger); color: white; }

.cm-s-dark .CodeMirror-matchingbracket { color: #01bafe !important; }
