@font-face {
  font-family: 'FiraCode-Retina';
  font-style: normal;
  font-weight: 400;
  src: local('FiraCode-Retina'), local('FiraCode-Retina'), url(../fonts/FiraMono-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/Ubuntu-Mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

* {
  -webkit-user-select: none;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono';
}

body {
  margin: 0;
  background-color: white;
  height: calc(100vh);
  font-size: 14px;
}

body.no-labels section {
  top: 0;
}

body.no-labels label {
  display: none;
}

header {
  position: absolute;
  top: 0;
  height: 38px;
  left: 0;
  right: 0;
  -webkit-app-region: drag;
  border-bottom: 1px solid var(--tonic-border);
  text-align: center;
  line-height: 40px;
  background-color: var(--tonic-window);
  color: var(--tonic-info);
}

section {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tonic-window);
}

label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  color: var(--tonic-info);
  font-size: 10px;
  border-bottom: 1px solid var(--tonic-border);
  background: var(--tonic-background);
  padding: 4px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

iframe, iframe html {
  border: none;
}

main-component > main {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  bottom: 0;
}

#output + .CodeMirror .CodeMirror-line::selection,
#output + .CodeMirror .CodeMirror-line > span::selection,
#output + .CodeMirror .CodeMirror-line > span > span::selection {
  background: #01bafe;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: #01bafe;
}
