/* light theme for codemirror */

/* Color scheme */



body[data-theme="light"] .sep {
  border-left: 1px solid #f1f1f1;
}

.cm-s-light.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}


.cm-s-light .CodeMirror-gutters { background: #fff; border-right: 0px; }
.cm-s-light .cm-comment { color:#aaa; }
.cm-s-light .cm-keyword, .cm-s-light .cm-property { color: #999; }
.cm-s-light .cm-atom,.cm-s-light .cm-number { color:#111; }
.cm-s-light .cm-node,.cm-s-light .cm-tag { color:#111; }
.cm-s-light .cm-string { color:#aaa; }
.cm-s-light .cm-variable,.cm-s-light .cm-qualifier { color:#111; }

.cm-s-light span.cm-error { background: #db2d20; color: #ff0000; }

.cm-s-light .CodeMirror-matchingbracket { color: #6ed2ed !important; }


/* #6ed2ed */

/* Editor styling */

.cm-s-light pre {
  padding:0;
}

.cm-s-light .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-light .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
  background: white;
}

.cm-s-light .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #6ed2ed;
  z-index: 1;
}

.cm-s-dark div.CodeMirror-selected { background: #f1f1f1; }
.cm-s-dark.CodeMirror ::selection { background: rgba(7, 54, 66, 0.99); }
.cm-s-dark .CodeMirror-line::-moz-selection, .cm-s-dark .CodeMirror-line > span::-moz-selection, .cm-s-dark .CodeMirror-line > span > span::-moz-selection { background: rgba(7, 54, 66, 0.99); }

.cm-s-light div.CodeMirror-selected { background: #f1f1f1; }
.cm-s-light .CodeMirror-line::selection, .cm-s-light .CodeMirror-line > span::selection, .cm-s-light .CodeMirror-line > span > span::selection { background: #eee8d5; }
.cm-s-light .CodeMirror-line::-moz-selection, .cm-s-ligh .CodeMirror-line > span::-moz-selection, .cm-s-ligh .CodeMirror-line > span > span::-moz-selection { background: #eee8d5; }


