patch-requests {
  cursor: default;
}

patch-requests .thead,
patch-requests .tbody .row {
  display: grid;
  grid-template-columns: 20% 60px 1fr 102px;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 0 4px;
  height: 42px;
  border-bottom: 1px solid var(--tonic-border);
}

patch-requests .thead span {
  height: 40px;
  color: var(--tonic-medium, #999);
  font-weight: 500;
  font: 12px/14px var(--tonic-subheader,  'Arial', sans-serif);
  text-transform: uppercase;
  letter-spacing: 1px;
}

patch-requests .tbody .row .actions {
  display: grid;
  width: 102px;
  height: 100%;
  grid-template-columns: 34px 34px 34px;
}

patch-requests .tbody .row .actions tonic-button {
  height: 34px;
}

patch-requests .tbody .row:hover {
  background-color: var(--tonic-dark);
}

patch-requests .thead span,
patch-requests .tbody .row span {
  align-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

patch-requests [symbol-id="info-icon"] use {
  color: var(--tonic-success);
}

patch-requests [symbol-id="danger-icon"] use {
  color: var(--tonic-error);
}

patch-requests [symbol-id="warning-icon"] use {
  color: var(--tonic-warning);
}

