dialog-publish {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 500px;
  min-height: 280px;
  display: grid;
  font-family: var(--tonic-monospace);
  text-align: center;
  app-region: drag;
  --app-region: drag;
}

dialog-publish header {
  height: 46px;
  text-align: center;
  padding: 14px;
  font-size: 12px;
  color: var(--tonic-info);
}

dialog-publish footer {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
}

dialog-publish tonic-button {
  app-region: unset;
  --app-region: unset;
  place-self: center end;
}

dialog-publish .centered p {
  margin: 0;
}

dialog-publish main {
  justify-content: center;
  align-content: center;
}
