editor-tabs {
  height: 50px;
  display: grid;
  background-color: var(--tonic-background);
  grid-template-columns: repeat(16, auto);
}

editor-tabs header.component {
  display: flex;
  overflow: scroll;
}

editor-tabs header.component::-webkit-scrollbar {
  display: none;
}

editor-tabs .tab {
  display: flex;
  align-items: center;
  margin: 10px 6px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--tonic-background);
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  opacity: 0.6;
}

editor-tabs .tab:hover {
  background-color: var(--tonic-shadow);
  opacity: 1;
}

editor-tabs .tab.selected {
  background-color: var(--tonic-border);
  opacity: 1;
}

editor-tabs .tab.unsaved {
  border: 1px dashed;
}

editor-tabs .tab .label {
  justify-content: center;
  align-content: center;
  margin: 0 4px;
}

editor-tabs .tab tonic-button {
  width: 20px;
  height: 20px;
  padding: 0;
  display: grid;
}

editor-tabs .tab tonic-button[type="icon"] tonic-icon {
  margin: 0;
  display: grid;
}

editor-tabs .tab tonic-button > div {
  display: grid;
}

.editor {
  overflow: auto;
}

.editor {
  position: absolute;
  top: 50px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--tonic-background);
}

.monaco-menu-container {
  z-index: 10000 !important; /* Adjust the value as needed */
}

.monaco-editor .view-lines, .monaco-editor .view-lines * {
  -webkit-user-select: initial;
  user-select: initial;
}

.monaco-editor .margin:after {
  content: ' ';
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid var(--tonic-border);
}

.monaco-editor .margin-view-overlays .line-numbers {
  color: var(--tonic-info);
}

.monaco-editor .scroll-decoration {
  box-shadow: var(--vscode-scrollbar-shadow) 0 6px 10px -12px inset;
}
