* {
  box-sizing: border-box;
  font-family: 'FiraMono';
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  height: calc(100vh);
  font-size: 14px;
  overflow: hidden;
  background-color: var(--tonic-window);
  color: var(--tonic-primary);
}

body.no-labels section {
  top: 0;
}

body.no-labels label {
  display: none;
}

tonic-accordion h3 {
  text-transform: uppercase;
  margin: 16px 14px 6px;
  color: var(--tonic-primary);
  font-family: var(--tonic-body);
  font-weight: 100;
  font-size: 14px;
}

#inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--tonic-window);
}

#inputs tonic-tab {
  display: grid;
  height: 40px;
  align-content: stretch;
  justify-content: stretch;
}

#inputs .tonic--tab {
  display: grid;
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  border-bottom: 1px solid var(--tonic-border);
  font-family: var(--tonic-body);
}

#inputs .tonic--tab {
  color: var(--tonic-info);
  text-decoration: none;
}

#inputs .tonic--tab[aria-selected="true"] {
  background-color: var(--tonic-background);
  color: var(--tonic-primary);
  border-bottom: 1px solid var(--tonic-background);
  border-left: 1px solid var(--tonic-border);
  border-right: 1px solid var(--tonic-border);
}

#inputs tonic-tab:nth-child(1) .tonic--tab {
  border-left: none;
}

#inputs tonic-tab:nth-child(4) .tonic--tab {
  border-right: none;
}

tonic-tab-panel {
  background-color: var(--tonic-window);
}

tonic-split-top {
  background-color: var(--tonic-background);
}

tonic-tab-panel {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--tonic-background);
}

tonic-tab-panel {
  top: 40px;
}

#options .option {
  display: grid;
}

#options .option tonic-button button {
  box-shadow: none;
  border: 1px solid var(--tonic-border) !important;
}

#options .option p {
  margin-left: 0px;
  padding-bottom: 10px;
  margin-top: 0;
  border-bottom: 1px solid var(--tonic-border);
  display: inline-block;
  font-family: var(--tonic-body);
  line-height: 22px;
  color: var(--tonic-info);
}

#options .option p tonic-button {
  margin-top: 10px;
  display: block;
}

app-container {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 00;
}

label.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  color: var(--tonic-primary);
  font-size: 10px;
  border-bottom: 1px solid var(--tonic-border);
  padding: 4px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

main-component {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  cursor: default;
  app-region: drag; /* windows */
  --app-region: drag; /* mac & linux */
}

header.component {
  display: grid;
  grid-template-rows: auto;
  align-content: center;
  height: 50px;
  padding: 0 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--tonic-border);
}

header.component tonic-button {
  width: 34px;
  height: 34px;
}

header.component tonic-button.selected svg use {
  color: var(--tonic-accent);
}

header.component#header-properties {
  display: grid;
  grid-template-columns: 34px 34px 34px 1fr;
}

header.component#header-project {
  display: grid;
  grid-template-columns: 1fr 34px 34px;
}

#split-main {
  top: 0px;
  border-top: 1px solid var(--tonic-border);
}

#split-main tonic-split-right {
  overflow: auto;
}
