#split-input tonic-split-top {
  z-index: 30;
}

#split-editor .tonic--split-handle.tonic--split-vertical {
  margin-left: -5px;
  border-left: none !important;
  border-right: 1px solid var(--tonic-border);
}

tonic-split .tonic--split-horizontal {
  z-index: 9;
  border-bottom: none !important;
  border-top: 1px solid var(--tonic-border);
}

tonic-select .tonic--select {
  overflow: hidden;
  border-radius: 8px;
}

tonic-select select:not([multiple]) {
  padding: 6px 30px 6px 10px;
}

tonic-select .tonic--arrow:before {
  top: 43%;
}

tonic-split .tonic--split-handle {
  z-index: 20 !important;
}

tonic-accordion-section .tonic--accordion-panel {
  padding: 0px 20px 20px 14px !important
}

.tonic--split-handle.tonic--split-horizontal {
  z-index: 10;
}

tonic-split > tonic-split-top, tonic-split > tonic-split-bottom, tonic-split > tonic-split-left, tonic-split > tonic-split-right {
  overflow: visible !important;
} 

tonic-split-top {
  padding-bottom: 1px;
}

tonic-toggle {
  display: grid;
  align-content: center;
}

tonic-accordion {
  border: none !important;
  cursor: default;
  padding: 2px 10px;
}

tonic-accordion-section .tonic--accordion-header .tonic--arrow:before {
  width: 6px !important;
  height: 6px !important;
}

tonic-accordion-section:not(:last-of-type) {
  border: none !important;
}

tonic-accordion-section .tonic--accordion-header button .tonic--label {
  font-family: var(--tonic-body);
  padding: 14px;
  color: var(--tonic-info);
  font-weight: 100;
}

tonic-accordion-section .tonic--accordion-header button[aria-expanded="true"] .tonic--label {
  text-decoration: underline;
  text-underline-offset: 2px;
}

tonic-accordion-section .tonic--accordion-header button {
  cursor: pointer;
  padding: 14px 0 !important;
}

.tonic--accordion-panel {
  display: grid;
}

tonic-checkbox > div {
  padding: 6px 0 !important;
}

tonic-checkbox .tonic--icon {
  margin: 4px 0 0px 1px !important;
}

tonic-range {
  padding: 8px 0 !important;
}

tonic-toggle .tonic--toggle--wrapper {
  height: 24px !important;
}

tonic-button button {
  border-radius: 4px !important;
}

tonic-button[type="icon"] tonic-icon {
  margin-top: 2px;
}

tonic-input[symbol-id] .tonic--right tonic-icon, tonic-input[src] .tonic--right tonic-icon {
  display: grid;
}
