view-home {
  display: none;
  grid-template-rows: auto 1fr;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background: var(--tonic-background);
  padding: 6%;
  overflow: hidden;
}

view-home.show {
  display: grid;
  z-index: 40;
  opacity: 1;
}

view-home header span {
  width: 100%;
  text-align: center;
}

view-home iframe {
  border: none;
  height: 280px;
  width: 100%;
}

view-home .content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6%;
  overflow: scroll;
}

view-home h1 {
  font-family: var(--tonic-body);
  text-transform: uppercase;
  font-size: 38px;
  margin-top: 0;
  font-weight: 100;
  white-space: nowrap;
}

view-home h1 b {
  font-family: var(--tonic-header);
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 900;
}


view-home h2 {
  text-transform: uppercase;
  border-bottom: 1px solid;
  color: var(--tonic-info);
  margin-bottom: 4px;
  padding: 2px 0;
  font-family: var(--tonic-body);
  font-weight: 100;
}

view-home .panel-label {
  color: var(--tonic-info);
  margin-bottom: 42px;
  display: block;
  font-family: var(--tonic-body);
}

view-home section {
  position: relative;
  display: grid;
}

view-home section.hero {
  height: 80px;
}

view-home tonic-tabs {
  margin: auto;
}

view-home tonic-tab a {
  padding: 6px 10px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--tonic-primary);
}

view-home tonic-tab a[aria-selected="true"] {
  background: var(--tonic-border);
  color: var(--tonic-primary);
}

view-home #tab-panel-profile section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6%;
  align-items: end;
}

view-home #tab-panel-profile #profile-public-key textarea {
  user-select: all;
  -webkit-user-select: all;
}

view-home tonic-profile-image {
  margin-right: auto;
  border: 1px solid var(--tonic-border);
  border-radius: 4px;
}
