view-project-summary {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  opacity: 0;
  transition: z-index .1s ease, opacity .1s ease;
  background-color: var(--tonic-background);
}

view-project-summary.show {
  opacity: 1;
  z-index: 30;
}

view-project-summary h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--tonic-info);
  font-weight: 100;
}

view-project-summary header span {
  width: 100%;
  text-align: center;
}

view-project-summary .container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  padding: 6%;
  overflow: auto;
}

view-project-summary .empty-state {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-content: center;
}

view-project-summary .sharing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  grid-template-rows: auto auto auto 1fr;
  align-items: end;
}

view-project-summary #org-name {
  grid-area: 1 / span 2;
}

view-project-summary #shared-secret {
  grid-area: 1 / 2 span;
}

view-project-summary #project-link {
  grid-area: 2 / span 3;
}

view-project-summary #publish {
  grid-area: 2 / 4;
}

view-project-summary git-status {
  grid-area: 3 / span 4;
  align-self: start;
}

view-project-summary patch-requests {
  grid-area: 4 / span 4;
  align-self: start;
}
