view-image-preview {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  opacity: 0;
  transition: z-index .1s ease, opacity .1s ease;
  background-color: var(--tonic-background);
}

view-image-preview.show {
  opacity: 1;
  z-index: 30;
}

view-image-preview .container {
  position: absolute;
  top: 50px; bottom: 0; left: 0; right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  overflow: auto;
  padding: 6%;
}

view-image-preview .top {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 100px;
}

view-image-preview .bottom {
}

view-image-preview .bottom h2 {
  border-bottom: 1px solid var(--tonic-info);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
  color: var(--tonic-info);
}

view-image-preview .bottom .icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 0;
  gap: 40px;
  align-items: end;
  justify-content: center;
}

view-image-preview tonic-button {
  margin: auto;
}

view-image-preview h1 {
  color: var(--tonic-border);
  font-size: 28px;
  font-family: var(--tonic-body);
}

view-image-preview img {
  margin: auto;
}

view-image-preview .size {
  display: grid;
  justify-content: center;
  align-items: center;
}

view-image-preview .size label {
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  color: var(--tonic-primary);
}

view-image-preview .size icon {
  cursor: pointer;
}
