<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta
      http-equiv="Content-Security-Policy"
      content="
        connect-src socket: https: http: blob: ipc: wss: ws: ws://localhost:*;
         script-src socket: https: http: blob: http://localhost:* 'unsafe-eval' 'unsafe-inline';
         worker-src socket: https: http: blob: 'unsafe-eval' 'unsafe-inline';
          frame-src socket: https: http: blob: http://localhost:*;
            img-src socket: https: http: blob: http://localhost:*;
          child-src socket: https: http: blob:;
         object-src 'none';
      "
    >
  </head>
  <script charset="utf-8" type="module" src="index.js"></script>
  <link rel="stylesheet" href="index.css"/>
  <body>
    <h1>Hello, World.</h1>
  </body>
</html>
