html, body {
  height: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  body {
    background: rgba(245, 245, 245, 1);
    color: rgba(54, 57, 61, 1);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(68, 68, 68);
    color: rgba(255, 255, 255, 1);
  }
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: helvetica;
}

h1 {
  --app-region: drag;
  app-region: drag;
}
